@font-face {
  font-family: 'Salina-trial-book-bold';
  src: url('./assets/fonts/Salina-Trial-Medium-BF64b607e29dac2.otf') format('opentype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'Salina-trial-book';
  src: url('./assets/fonts/Salina-Trial-Book-BF64b607e29dd58.otf') format('opentype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'Salina-trial-book-italic';
  src: url('./assets/fonts/Salina-Trial-BookItalic-BF64b607e2dc77d.otf') format('opentype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/AvenirLTProOblique.otf') format('opentype');
  /* font-weight: normal;  */
  font-style: normal;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500
}

*{
    box-sizing: border-box;
}


html, body {
  font-family: 'Salina-trial-book', sans-serif !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  width: var(--app-width);
  height: var(--app-height);
}

body {
  background: url('./assets/images/non-partial/Pratiwi-Ahmad-09-November-WEB-bg-depan-tanpa-tiang.png') no-repeat center center / 100% 100% !important;
  background-size: cover;
  background-attachment: scroll;
}

.main-wrapper {
  position: relative;
  z-index: 1;
  background: transparent !important;
  width: 100%;
  /* min-height: 100%; */
  overflow: visible;
  min-height: var(--app-height);
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.v-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

._avenir_text { 
    font-family: 'Avenir';
}

._salina_text_2 { 
    font-family: 'Salina-trial-book-italic' !important;
}

._salina_text_bold { 
    font-family: 'Salina-trial-book-bold' !important;
}

._salina_text { 
    font-family: 'Salina-trial-book' !important;
}

._mempelai {
    width: 17em;
    height: auto;
}

._show_content { 
    z-index: 2 !important;
}

.divider_ { 
  min-height: 60px !important;
}

.tight-text { 
    line-height: 0.6 !important;
    margin: 0;
    padding: 0;
}

._divider_b {
  max-width: 40% !important;
}

._bride_text { 
    padding-left: 36% !important;
}

._and_text { 
    padding-right: 42% !important;
}

._groom_text{ 
    padding-right: 38% !important;
}

@media (max-width: 768px) { 
  body {
    background: url('./assets/images/non-partial/Pratiwi-Ahmad-09-November-WEB-mobile-bg-nobunga.png') no-repeat center center / 100% 100% !important;
    background-size: cover;
    background-attachment: scroll;
    background-size: cover;
  }
}