:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE & Edge lama */
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.v-application__wrap {
    /* min-height: 100% !important; */
    position: relative !important;
    backface-visibility: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    flex: 1 1 auto !important;
}

.v-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.main-wrapper {
    flex: 1 0 auto;
}

body::--webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.images img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    display: block;
}

.parent-category-scroll {
    overflow-x: auto;
}
.category-scroll{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;
}

.category-scroll:active {
    cursor: grabbing;
}

.slide-y-transition-enter-active,
.slide-y-transition-leave-active {
    transition: all 0.4s ease;
}

.card-images { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-images .v-img{
    max-height: 9rem;
    max-width: 9rem;

}

.no-resize textarea { 
    resize: none;
}